body {
   background-color: #0067C5;
   font-family: 'Source Sans Pro';
}
.top-navigation {
    position: relative;
    left: 0;
    width: 112%;
    min-height: 3em;
    background: #111;
    padding: 0.375em 5.55%;
    margin: -0.75em 0 0;
    line-height: 0;
  }